name: Android CI

on:
  push:
    branches: main
    paths-ignore: '**.md'
  pull_request:
    branches: main
    paths-ignore: '**.md'

jobs:
  build:

    runs-on: macos-15

    steps:
    - name: Check out
      uses: actions/checkout@v4
      with:
        submodules: 'recursive'
        fetch-depth: 1

    - name: Set up JDK
      uses: actions/setup-java@v4
      with:
        distribution: 'temurin'
        java-version: 21

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew

    - name: Build with Gradle
      run: ./gradlew assembleRelease

    - name: Upload CI module zip as artifact zip
      uses: actions/upload-artifact@v4
      with:
        name: PlayIntegrityFix-CI_#${{ github.run_number }}
        path: 'module/*'
        compression-level: 9
